/* index.html start */

body {
  margin: 0;
  padding: 0;
}

.mcontainer .header {
  background: no-repeat url(../img/background-01-1920x900.jpg) center;
  background-size: cover;
  height: 1000px;
}

.header .mnav, .header1 .mnav {
  height: 60px;
  background: linear-gradient(-120deg,#9a3c2dd9,#ff3fc4db)!important;
}

.nav1 {
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(100, 103, 121, 0.21);
}


.header-container {
  padding: 90px 0;
}

.radio-group-flt {
  display: flex;
  justify-content: space-around;
}

.l-font-size {
  font-size: 0.85em;
}

.card-body-flt {
  background: linear-gradient(-30deg,#ffbe6dfc,#ff3fc4db);
}

.card-header-flt {
  background-color: rgba(255, 59, 59, 0.39);
}

.purple-gradient {
    background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
    background: linear-gradient(40deg,#d623b8b8,#368efbfa)!important;
    box-shadow: 0 2px 20px 0 rgb(41, 4, 60);
}

.btn-rounded {
  -webkit-border-radius: 10em;
   border-radius: 10em;
   font-weight: 600;
}

/* index.html end */


/* Cotactus.html */

.btn .fas, .btn .fab, .btn .far {
  margin-left: 3px;
}

h6 {
  line-height: 1.7;
}

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
}

body {
  background-color: #eee;
}

.btn.peach-gradient {
  color: #fff !important;
}

.map-container-section {
  overflow:hidden;
  /* padding-bottom:56.25%; */
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.peach-gradient {
  background: -webkit-linear-gradient(-120deg,#9a3c2dd9,#ff3fc4db)!important;
  background: -o-linear-gradient(-120deg,#9a3c2dd9,#ff3fc4db)!important;
  background: linear-gradient(-120deg,#9a3c2dd9,#ff3fc4db)!important;
  -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}


/* Contactus.html end */



/* About.html strat */


html,
body,
header,
.jarallax {
  height: 700px;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

@media (min-width: 560px) and (max-width: 650px) {
  header .jarallax h1 {
    margin-bottom: 1.5rem !important;
  }
  header .jarallax h5 {
    margin-bottom: 1.5rem !important;
  }
}

h5 {
    letter-spacing: 3px;
}

.btn-indigo {
  background-color: #3f51b5!important;
  color: #fff!important;
}

.btn-light-blue {
  background-color: #82b1ff!important;
  color: #fff!important;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.rgba-stylish-light {
  background-color: rgba(62,69,81,.3);
}
.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.view .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.team-boxed {
  color:#313437;
  /* background-color:#eef4f7; */
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}




/* About.html end */




.nam {
  display:block;
  color:#333;
}

.num {
  font-size:.85em;
  color:#888;
}

.dl {
  height:50px;
  width:27px;
  margin-right:20px;
  padding-top:6px;
  padding-bottom:21px;
}

.dl img {
  vertical-align:middle;
}

.d {
  font-weight:700;
}

.a {
  font-weight:bold;
  display:block;
}

.a-span {
  font-size:0.75em;
}

.j {
  display:block;
  font-size:0.85em;
}

.s {
  font-size:.85em;
  color:#888;
}

.dg {
  font-size:.85em;
  line-height:1.4;
  display:block;
}

.a_rf {
  background-color:#ECEFF1;
  color:#666;
  font-size:0.7em;
  padding:0 10px 3px 0;
}

.a_so {
  background-color:#F00;
  color:#FFF;
  font-size:0.7em;
}

.a_nb {
  background-color:#FFF8E1;
  color:#666;
  font-size:0.7em;
}

.rw {
  float:left;
  height:30px;
  overflow:hidden;
  width:27px;
  padding:8px;
  margin-right:20px;
  border-radius:6px;
}

.col-sm-2.col-md-2.col-lg-2.col-xl-2.pbl {
  padding:0 2px;
}

.pw {
  text-align:left;
  color:#2e81cf;
}

.fd {
  float:right;
  display:block;
  width:18px;
  height:18px;
  background:#BBB;
  border-radius:50%;
  font-size:16px;
  font-weight:normal;
  text-align:center;
  line-height:18px;
  color:#FFF;
  font-style:italic;
  cursor:pointer;
  margin:2px 0 0 5px;
}

.white-bg {
  background-color: #FFFFFF;
}

.black-bg {
  background-color: #96ca2d;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.search-sidebar {
  padding: 20px 0 0 20px;
}
.search-content {
  padding: 20px 20px 0 20px;
}

.btn-right {
  float: right;
}

.white-bg > div > a {
  font-size: 0.9em;
} 

.search-res {
  padding: 10px 0 0 0;
}

.container-c {
  background-color: #000;
  font-family: 'Roboto',sans-serif;
  background: linear-gradient(180deg, #DB302A 0%, #62186B 100%) no-repeat;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
}

/* .box-minmax {
  margin-top: 30px;
  width: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #FFFFFF;
} */
/* .box-minmax span:first-child {
  margin-left: 1px;
} */

/* .range-slider { */
  /* margin-top: 30vh; */
/* } */

.rs-range {
  /* margin-top: 29px; */
  width: 100%;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 10px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 10px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  /* width: 20px;
  height: 20px; */
  background: transparent;
  /* border-radius: 50%; */
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  /* padding-top: 22px; */
  box-sizing: border-box;
  /* border: 2px solid #fff; */
  /* margin-top: 20px;
  margin-left: -38px; */
  /* left: attr(value); */
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  margin-bottom: 3.5px;
  text-align: center;
}
/* .rs-label::after {
  content: "kg";
  display: block;
  font-size: 20px;
  letter-spacing: 0.07em;
  margin-top: -2px;
} */




/*  */
.time-fliter > div > .block {
  display: inline-block;
  width: 47px;
  text-align: center;
}

.time-fliter  > div > .block > i {
  font-size: 21px;
  padding-top: 4px;
}

.time-fliter  > div > .block > div {
  font-size: 12px;
}

.stop-filter {
  padding: 3px 0 0 5px;
}

.layover-time-filter {
  padding: 3px 2px 0 2px;
}

.airline-alliances-fliter {
  padding: 3px 2px 0 2px;
}

.group-type {
  padding: 3px 2px 0 2px;
}

.header-content {
  padding: 30px 0 0 0;
  color: #FFF;
}

.header-content > div > div > i.material-icons.flight {
  font-size: 50px;
  padding-left: 40px; 
}

.header-content a {
  color: #FFF;
}

.text-semibold {
  font-weight: 500;
}

.header-content .header-content-left {
  float: left;
}

.header-content  .header-content-right {
 float: right;
 margin-right: 40px;
}

.header-content  .header-content-right > a > b i.material-icons {
  background-color: #FFF;
  font-size: 20px;
  color: #FF9C00;
}

.header-content-right > a > b > i {
  position: absolute;
  top: 0;
  height: 37.5px;
  padding: 7px;
}

.white-color {
  color: #ffffff;
}

/* Footer Section */
.footer {
 position: fixed;
 width: 100%;
 background-color: #3498DB;
 bottom: 0;
}

.f-row {
  margin-top: 10px;
}

.flt_detail {
  font-size: 11px;
  position: absolute;
}




/* @Section flight_bookingdetails.html */
.content-area {
  padding: 10px 15px;
}

.box1 {
  background-color: #ffffff;
  /* height: 600px; */
}

.box2 {
  background-color: #ffffff;
  /* height: 230px; */
}

.box3 {
  background-color: #ffffff;
  /* height: 530px; */
}

div.c-btn {
  height: 50px;
  color: #ffffff;
}

.float-left i, .float-left span, .float-right i {
  vertical-align: -webkit-baseline-middle;
}

.content-box {
  padding: 10px 15px;
}

.content-box1 {
  padding: 10px 15px;
}

.content-box div i.info_outline,  .content-box div span {
  vertical-align: -webkit-baseline-middle;
}


.passenger-info ul li {
  margin: 0 5px;
}
.passenger-info ul li.g_f :hover{
  background-color: #fff !important;
}

.passenger-info ul li a i {
  font-size: 21px;
  vertical-align: bottom;
}

.passenger-info .card-body {
  padding: 1.25rem 1.25rem 0 1.25rem !important;
}
.passenger-info .card-header {
  padding: .3rem 1.25rem !important;
}

.passenger-additional-info {
  margin-top: 20px;
}


.passenger-additional-info input[type=checkbox] {
  transform: scale(1.5);
 -webkit-transform: scale(1.5);
}

.passenger-footer {
  border-top:1px solid #ddd;
  margin: 10px 0 0 0;
  height: 55px;
} 

.passenger-footer button {
  margin-top: 8px; 
}

.passenger-footer button i{
  vertical-align: bottom; 
}


.flt-details-sidebar .card-header {
  padding: 2px 5px;
}

.flt-details-sidebar .card-body {
  padding: 5px 8px;
}

.flt-details-sidebar div.col-2.text-center>i {
  vertical-align: -webkit-baseline-middle;
}

.flt-details-sidebar .flt-img-details>div>span.flt-name {
  display: block;
}

.flt-details-sidebar .flt-img-details>div>span.flt-model {
  font-weight: 500;
}

.flt-details-sidebar hr {
  margin-top: 3px;
}

.flt-details>div.row.row0 div.col-6>span:not(:nth-child(1)){
  display: block;
  letter-spacing: 1px;
}

.flt-details .row1 span.t {
  font-size: 11px;
  display: block;
}

.flt-details-sidebar .card-footer {
  padding: 5px 5px;
}

.box3 .card-footer>div>button>i {
  transform: rotate(180deg);
  vertical-align: bottom;
}

.box3 .amount_breakup .card-body {
  padding : 5px 8px 0 8px;
}

.box3 a>img {
  max-height: 20px;
  vertical-align: -webkit-baseline-middle;
}



/* PaymentPage.html Start*/

.paymentpage header.bg-white {
  height: 60px;
  box-shadow: 0 0 5px 2px #cfd2dd;
}

.paymentpage section {
  background-color: #DDE0EC;
  padding: 2.5% 12% 0 12%;
  height: 730px;  /* for temperorary check*/
}
.paymentpage .paybody {
  padding-bottom: 65px;
}

.paymentpage .paybody .box-1-blue {
  background-color: #004A8F;
  color: #fff;
}

.paymentpage .paybody .box-1-white {
  background-color: #E4E4E6;
}

.paymentpage .payfooter img {
  padding: 10px 5px 10px 0;
  vertical-align: middle;
}


/* Paymentpage.html End*/




/* Blog.html Start */

.container-blog {
    width: 100%;
    padding-top: 5%;
    padding-right: 25%;
    padding-left: 25%;
    margin-right: auto;
    margin-left: auto;
}

.container-blog p.card-text {
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Blog.html End */




